<section class="section hero">
    <div class="container">
        <div class="hero__wraper">
            <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
            <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
                eros
                elementum tristique.
                Duis
                cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
            <button class="btn button hero__button" type="submit">Order Now</button>
        </div>
        <div class="hero__photo">
            <div class="thumb">
                <button class="btn hero__btn" type="button"><svg class="icon mob__icon-close">
                        <use href="./images/symbol-defs.svg#icon-close-mob"></use>
                    </svg></button>
                <picture>
                    <source srcset="./images/hero/hero-one_1x_tab-min.png 1x, ./images/hero/hero-one_2x_tab-min.png 2x"
                        media="(min-width: 768px)" type="image/png" />


                    <img src=" ./images/hero/hero-one_1x_desk-min.png" alt="food-photo">
                </picture>
                <button class="btn hero__btn" type="button"><svg class="icon mob__icon-close">
                        <use href="./images/symbol-defs.svg#icon-close-mob"></use>
                    </svg></button>

            </div>
        </div>
    </div>


</section>