<section class="section offering-section">
    <div class="container">
        <h2 class="offering is-hidden"> Offering</h2>
        <div class="offering__ellips--outside">
            <div class="offering__ellips--inside">
                <picture>
                    <source srcset="./images/offering/apple-desk-1x.png 1x, ./images/offering/apple-desk-2x.png 2x"
                        media="(min-width:1280px)" type="image/png" />
                    <source srcset="./images/offering/apple-tab-1x.png 1x, ./images/offering/apple-tab-2x.png 2x"
                        media="(min-width:768px)" type="image/png" />
                    <source srcset="./images/offering/apple-mob-1x.png 1x, ./images/offering/apple-mob-2x.png 2x"
                        media="(min-width:320px)" type="image/png" />
                    <img class="apple-photo" src="./images/offering/apple-desk-1x.png" alt="apple-photo">
                </picture>


                <div class="offering__ellips"></div>

            </div>
        </div>


        <h2 class="offering__title">What’s Special About Our Offerings</h2>
        <p class="offering__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
            eros
            elementum tristique.
            Duis
            cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
        <ul class="list offering__list">
            <li class="item offering__item">
                <div class="icon-wrap">
                    <svg class="icon delivery-icon">
                        <use href="./images/symbol-defs.svg#icon-delivery"></use>
                    </svg>
                </div>
                <h3 class="offering__subTitle">Fasest Delivery</h3>
                <p class="offering__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
                    enim in eros.</p>
            </li>
            <li class="item offering__item">
                <div class="icon-wrap">
                    <svg class="icon oredr-icon">
                        <use href="./images/symbol-defs.svg#icon-order"></use>
                    </svg>
                </div>
                <h3 class="offering__subTitle">Easy to order</h3>
                <p class="offering__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
                    enim in eros.</p>
            </li>
        </ul>
        <button class="btn button offering__btn" type="submit">Order Now</button>
        <a class="link offerin__link" href="http://" target="blank" rel="noopener noreferrer nofollow"><span
                class="offering__link--text">Read
                More</span><svg class="icon offering__icon">
                <use href="./images/symbol-defs.svg#icon-offering"></use>
            </svg></a>

    </div>
</section>