.hero__title {
    @include font(28px, 700, 1.18);
    margin-bottom: 28px;

    @include tablet {
        width: 537px;
        @include font(42px, 700, 1.2);

    }
}

.hero__text {
    width: 266px;
    margin-bottom: 28px;

    @include tablet {
        width: 336px;
    }
}

@include tablet {
    .hero {
        padding: 60px 0;
    }
}

.hero__photo {
    display: none;

    @include tablet {
        display: block;
        width: 320px;
        height: 320px;
        position: absolute;
        top: 89px;
        left: 368px;

    }

}

.hero__wraper {
    position: relative;
}

.thumb {

    width: 320px;
    height: 320px;
    border: 14px solid var(--yelolow-main-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}

.hero__btn {
    width: 28px;
    height: 34px;
    position: absolute;
    top: 50%;
    z-index: 3;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    transform: translate(-50%, -50%);
}

.hero__btn--left {
    left: 7px;
}

.hero__btn--right {
    right: -21px;
}

.hero__icon {
    width: 20px;
    height: 11px;

}