.offering-section {
    padding: 50px 0;
    background: url('../images/mob-320-offering-background.svg');
    background-repeat: no-repeat;
    background-size: cover;

    @include phone {
        background: url('../images/mob-480-offering-background.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    @include tablet {
        background: url('../images/tab-768-offering-background.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.offering__title {
    @include font(28px, 700, 1.18);
    margin-bottom: 28px
}

.offering__text {
    @include font(14px, 400, 1.14);
    margin-bottom: 28px;
}

.offering__list {}

.offering__item {}

.offering__icon {}

.offering__subTitle {
    @include font(18px, 700, 1.17);
    margin-bottom: 16px;
}

.offering__ellips--outside {
    width: 280px;
    height: 280px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.offering__ellips--inside {
    width: 256px;
    height: 256px;
    background: var(--background-color);
    border-radius: 50%;
}

.offering__ellips {
    background: radial-gradient(50% 50% at 50% 50%, #2F583F 0%, rgba(105, 105, 105, 0) 100%);
    filter: blur(6.61818px);
    width: 128px;
    height: 44px;
    position: absolute;
    top: 70%;
    left: 28%;
}

.apple-photo {
    position: absolute;
    bottom: 53px;
    left: 42px;
    z-index: 2;
}

.icon-wrap {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--background-color);
    position: relative;
    margin-bottom: 8px;
}

.delivery-icon,
.oredr-icon {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.offering__btn {
    border: 2px solid var(--dark-green-color);
    background-color: var(--background-color);
    margin-right: 24px;
}

.offering__btn:hover,
.offering__btn:focus {
    border: 2px solid #597D00;
}

.offerin__link {
    display: inline-block;
}

.offering__link--text {
    margin-right: 4px;
}

.offering__icon {
    width: 9px;
    height: 9px;
}